

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*.container{
    width: 940px !important;
    border: 1px solid red;
}*/
.nav-second{
    background: #464542;
    height: 32px;
}
.header-text{
    color: #FFFFFF;
    padding-top: 15px;
}
#google_translate_element{
    padding: 10px;
}
.navbar-inner{
    background-image: none;
    background-color: #464543;
}
.nav-inner{
    border-color: #656563;
}
.yamm{
 background: #000000;
}

.yamm .yamm-content a,
.yamm .yamm-content a:hover,
.yamm .yamm-content a:focus {
  background: transparent;
  font-weight: normal;      
}
.yamm .yamm-content a {
  color: #0088CC;
}
.yamm .yamm-content a:hover,
.yamm .yamm-content a:focus {
  color: #005580;
}
.well-ceda {
	margin-bottom:5px;
}
.well {
        background-color: white;
        border: 1px solid #DBDBDB;
}
.product-image-left-ceda{
	margin-left:3px;
}
.label-ceda
{
  display: inline-block;
  padding: 4px 14px;
  font-size: 15.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  -moz-border-radius: 15px;
    border-radius: 15px;
}
.span-ceda{
    width: 330px;
}
.vertical-ceda{
    padding-right:95px; 
    border-right: 1px solid #ccc;
}
/*.footer-linkceda {
    color: #999999;
}*/
/*.footer-linkceda a:hover{
    color: white;
}*/
.footer-linkceda a {color:#999999; text-decoration:none; padding:2px; cursor:pointer;}
.footer-linkceda a:hover {color:#fff; text-decoration:none;}  

/*for menu dropdown on hover*/
ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
}
a.menu:after, .dropdown-toggle:after {
    content: none;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}


hr-ceda {
  margin: 5px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}








